* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bgColor: #00416b;
    --textColor: #f1ead6;
    --borderColor: #f1ead6;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--bgColor);
}

body.dark{
    background-color: #333;

}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
}

.container .timeElement{
    border: 1px solid var(--borderColor);
    padding: 30px;
    border-radius: 10px;
    font-size: 26px;
}

#darkTheme{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}